$main-black: #000;
$grey-700: #363636;
$grey-10: #f9f9fc;
$grey-200: #edeef3;
$body-background: #f6f8fd;
$button-color: #3478eb;
$button-background: #ffffff;
$header-gradient-color: #231429;
$botton-background : #B741FF;

$slide-dot-bg-color: #3478eb;
$control-icons-bcc: #f6f8fd;
$purple-lg-rigth: #e441ff;
$purple-lg-left: #b741ff;
$bccImgGradient-top: rgba(35, 20, 41, 0.11);
$bccImgGradient-buttom: #231429;
$white-font: #ffffff;
$a: #1f1f24;
$b: #fddcab;
$x: #dc2567;
$x: #f85a93;
$x: #ffead5;
$x: #263238;
$x: #479f67;
$x: #db242d;
$x: #ef387a;
$x: #ef3885;
$x: #f4f3ff;
$x: #fb8ab3;
$x: #feb173;
$x: #ff3932;
$x: #ff9d83;
$x: #ffffff;
