@import "../../sass/colors";

.Application {
  height: 700px;
  position: relative;
  background-color: $body-background;
  display: flex;
  align-items: center;
  gap: 100px;
  &__phoneImage {
    width: 420px;
    height: 700px;
  }
  &__title {
    position: relative;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    & > img {
      $size: -232px;
      position: absolute;

      right: 70px;
      top: -180px;
    }
  }
  &-items {
    width: 688px;
    height: 352px;
    & > p {
      font-size: 24px;
      font-weight: 400;
      line-height: 38px;
      margin-bottom: 30px;
    }
  }
  &-buttons {
    display: flex;
    align-items: start;
    padding-top: 20px;
    gap: 24px;
    button {
      background-color: $button-background;
      width: 232px;
      cursor: pointer;
      padding: 16px 32px;
      gap: 10px;
      border-radius: 54px;
      position: relative;
      border: 0;
      i {
        color: $button-color;
        &::before {
          font-size: 34px;
          position: absolute;
          top: 12px;
          left: 36px;
        }
      }
      p {
        color: $button-color;
        font-size: 10px;
      }
      span {
        color: $button-color;
        font-size: 16px;
      }
      img {
        position: absolute;
        top: 16px;
        left: 36px;
        width: 34px;
        height: 38px;
      }
    }
  }
}
