@import "/src/sass/colors";

.Footer__left-section {
  img {
    margin-bottom: 12px;
  }
  p {
    margin-top: 35px;
    font-size: 24px;
    line-height: 38.4px;
    span {
      font-weight: bold;
    }
  }
  &-icon {
    height: 40px;
    display: flex;
    gap: 15px;
    margin-top: 20px;

    a {
      color: $grey-700;
      transition: 0.2s;
      width: 40px;
      background-color: $grey-700;
      border-radius: 50%;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      &:hover {
        background-color: rgb(11, 113, 72);
        scale: 1.08;
        transition: 0.3s;
      }
      i {
        font-size: 20px;
        color: white;
      }
    }
  }
}
